force-app/main/default/flows/EMI_records_creation_for_loans.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>increment_variable</name>
        <label>increment variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varcounterplus1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colNumberSequence</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCounter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>endloopifcountexceed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Variables</name>
        <label>Init Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>matching_var_and_sequence</name>
        <label>matching var and sequence</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colNumberSequence</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCounter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_EMI_are_already_there</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_EMI_Record</name>
        <label>Prepare EMI Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSingleEMI.Loan_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleEMI.EMI_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCounter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleEMI.EMI_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Monthly_EMI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleEMI.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDateMonths</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSingleEMI.Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleEMI.EMI_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCounter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colEMIs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleEMI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>increment_variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Counter</name>
        <label>Check Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Build_Number_Sequence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCounter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Tenure_Months__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>matching_var_and_sequence</targetReference>
            </connector>
            <label>Build Number Sequence</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_only_if_there_is_no_duplicates</name>
        <label>Create only if there is no duplicates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_EMI_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_if_EMI_are_already_there</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Check EMI records</label>
        </rules>
    </decisions>
    <decisions>
        <name>endloopifcountexceed</name>
        <label>end loop if count exceed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Tenure_Months__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_EMI_Schedule_Records</targetReference>
            </connector>
            <label>Outcome 1 of Decision 2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DueDateMonths</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!varDueDate}, 1)</expression>
    </formulas>
    <formulas>
        <name>varcounterplus1</name>
        <dataType>Number</dataType>
        <expression>{!varCounter} +1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>EMI records creation for loans {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EMI records creation for loans</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>colNumberSequence</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Prepare_EMI_Record</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_EMI_Schedule_Records</name>
        <label>Create EMI Schedule Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Loan_Application_Field</targetReference>
        </connector>
        <doesUpsert>true</doesUpsert>
        <inputReference>colEMIs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Check_if_EMI_are_already_there</name>
        <label>Check if EMI are already there</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_only_if_there_is_no_duplicates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EMI_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loan_Application_Field</name>
        <label>Update Loan Application Field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>EMI_Record_Creation__c</field>
            <value>
                <stringValue>EMI&apos;s Created</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Init_Variables</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Loan_Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>EMI Collection</description>
        <name>colEMIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EMI_Schedule__c</objectType>
    </variables>
    <variables>
        <name>colNumberSequence</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Used to track EMI counter</description>
        <name>varCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Single EMI record</description>
        <name>varSingleEMI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EMI_Schedule__c</objectType>
    </variables>
</Flow>
